@page "/"
@using Phonebook.Server.Models
@inject HttpClient Http


<PageTitle>Telefonski imenik</PageTitle>

<table>
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>



        </tr>
    </thead>
    <tbody>
           @foreach(var item in People){
        <tr>
        <td>@item.Name</td>
        <td>@item.LastName</td>
        <td><a href="/" class="button">Go to Google</a></td>
        </tr>
           }
    </tbody>

</table>
@code{
    private static List<Person>People { get; set; } = new List<Person>();
    protected override async Task OnInitializedAsync()
    {
        People = await Http.GetFromJsonAsync<List<Person>>("api/ListPeople");
    }
}
