@page "/"

@inject IPersonService PersonService


<PageTitle>Telefonski imenik</PageTitle>

<table>
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>



        </tr>
    </thead>
    <tbody>
           @foreach(var item in PersonService.Persons){
        <tr>
        <td>@item.Name</td>
        <td>@item.LastName</td>
        <td><a href="/PersonDetails/{@item.Id}" class="button">Detalji</a></td>
        </tr>
           }
    </tbody>

</table>
@code{

    protected override async Task OnInitializedAsync()
    {
        await PersonService.GetPersons();
    }
}
