@page "/Admin/Edit"

<h3>Edit</h3>

@code {

}
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Ime</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name1" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Prezime</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lastname1" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Iban</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="iban1" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Ime</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name2" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Prezime</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lastname2" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Iban</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="iban2" value="">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="amount" value="">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>

</form>

